* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding-left: 15px;
  padding-right: 15px;
}

.app__stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
